# @skillmine-dev:registry=https://gitlab.com/api/v4/packages/npm/
# @skm-universe:registry=https://gitlab.com/api/v4/packages/npm/
# //gitlab.com/api/v4/packages/npm/:_authToken=glpat-WUz71vHfqSjitZ7XLiiD
# # //gitlab.com/api/v4/projects/43425388/packages/npm/:_authToken=glpat-WUz71vHfqSjitZ7XLiiD